{{#showalert}}
    <div id="dashboard-alert" class="alert alert-info" role="alert">
        <strong>📢 Aviso:</strong> ¿Quieres acceder a Camoodle?
        <a href="{{dashboard_url}}" class="btn btn-primary btn-sm">Ir a Camoodle 🐸</a>
    </div>
{{/showalert}}
