<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="flex">
    <!-- Sidebar -->
    {{> sidebar }}

    <!-- Main Content -->
    <div class="flex-1 ml-64 p-6 bg-gray-100">
        <h1 class="text-2xl font-bold text-gray-800">Perfil de Curso</h1>
        <p class="text-gray-600 mt-4">
            Aquí puedes ver la predicción basada en el modelo de Deep Learning.
        </p>

        <!-- Selector de cursos -->
        {{> course_selector }}


        <!-- Incluir la tabla de datos procesados -->
        {{> processed_data_table }}

    </div>
</div>

</body>
</html>
